# Database
POSTGRES_USER=estaciona
POSTGRES_PASSWORD=yourSuperSecretPassword
POSTGRES_DB=estaciona_ai

# Server Config
DATABASE_URL=postgresql://estaciona:yourSuperSecretPassword@db:5432/estaciona_ai
ML_DATABASE_URL=postgresql://estaciona:yourSuperSecretPassword@YOUR_PUBLIC_IP_OR_DOMAIN:5432/estaciona_ai
# WS
SERVER_WS_URL=wss://api.estaciona.tech/ws/edge
LOCAL_WS_URL=ws://localhost:8001/ws/edge
GATEWAY_PORT=8001

# Security
JWT_SECRET=yourSuperSecretJwtSecretKeyMaybeSHA256
PLATE_SECRET_PEPPER=yourSuperSecretPepperSecretKeyMaybeSHA256
EDGE_API_KEY=yourSuperSecretEdgeApiKeyMaybeSHA256
