# Database
POSTGRES_USER=estaciona
POSTGRES_PASSWORD=yourSuperSecretPassword
POSTGRES_DB=estaciona_ai

# Server Config
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# WS
SERVER_WS_URL=ws://localhost:8000/ws/edge

# Security
JWT_SECRET=yourSuperSecretJwtSecretKeyMaybeSHA256-512?
PLATE_SECRET_PEPPER=yourSuperSecretPepperSecretKeyMaybeSHA256-512?
EDGE_API_KEY=yourSuperSecretEdgeApiKeyMaybeSHA256-512?
