# Python
**/__pycache__
**/*.py[cod]
**/*$py.class
**/*.so
__pycache__/
.venv/
*.pyc   
**/pytest_cache

# Rust
target/

# General
.env
.env.local
.DS_Store
Thumbs.db
**/.idea/
**/.vscode/
**/.venv/

# Datasets
datasets/
**/db/
**/data/
**/models/
**/yolo**
**/yolo26n.*
**/yolo26n.pt
